body {
  background-color: black;
}
ul{
  list-style-position: inside;
}
#believed {
  background-color: grey;
  width: 30%;
  text-align: center;
}
#disagree{
  background: grey;
  width: 30%;
}
#what {
  background-color: grey;
  width: 30%;
}
h1{ 
color: white;}

nav {
  list-style-type: none;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
}
.navli{
  display: inline;
  padding: 10px;
  font-size: 20px;
}
.navli:hover {
  background-color: grey
}
a{
   text-decoration: none;
color: white;
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
ul{
  list-style-position: inside;}
body{
    background-color: grey;
  }

@media only screen and (max-width: 768px) {

  
  body{
    background-color: white;
  }
a{
   text-decoration: none;
  color: black;}
 .navli:hover {
  background-color: grey;
}
  h1{
    color: black;
  }
  nav{
    background-color: white;
  }
}

@media only screen and (min-width: 1024px){
  body{
    background-color: black;
  }
}

