h1{ 
color: #ff0f7b;
}

body {background: #8e008b;
} 

table, tr, th, td{ 
border: solid black 1px; 
}
ol{
 list-style-position: inside;
  font-size: 30px;
}
td{
  text-align: center;
  padding: 20px;
}
table {
  width: 40%;
}
tr:nth-child(even){
  background-color: #F5F863;
}

tr:hover {
  background-color: #1957db;
}
tr {
  padding: 20px;
}
nav {
  list-style-type: none;
  position: fixed;
  background-color: #3B0086;
  width: 100%;
  top: 0;
  left: 0;
}
.navli{
  display: inline;
  padding: 10px;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: #EA7AF4;
}
.navli:hover {
  background-color: #290628;
}
p {
  font-size: 30px;
}
