nav {
  list-style-type: none;
  position: fixed;
  background-color: #3B0086;
  width: 100%;
  top: 0;
  left: 0;
}
li{
  display: inline;
  padding: 10px;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: #EA7AF4;
}
li:hover {
  background-color: #290628;
}
